<a href="https://colab.research.google.com/github/andrheadennizecuyme/LinearAlgebra_2ndSem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
Variables and Data types in python as the name suggests are the values that vary. In a programming language, a variable is a memory location where you store a value. The value that you have stored may change in the future according to the specifications. A Variable in python is created as soon as a value is assigned to it. It does not need any additional commands to declare a variable in python. On the other note, data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instance  of these classes.

In [ ]:
x = 1
a, c = 9, 2
x

1

In [ ]:
type(x)

int

In [ ]:
y = 1.0
type(y)

float

In [ ]:
x = float(x)
type(x)

float

In [ ]:
a,b,c = "0", '9', 'zero'
type(a)

str

In [ ]:
s_int = int(s)
s_int

0

In [ ]:
t_int = int(t)
type(t)

str

## Operations
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand. According to TechVivan, operator is a symbol that will perform mathematical operations on variables or on values. Operators operate on operands (values) and return a result.

## Arithmetic
Arithmetic operators are used to perform mathematical operations like Addition, Subtraction, Multiplication, Division, Exponentiation, Floor division, and Modulus.

In [ ]:
a,b,c,d = 99, -736, 4777, -0.865

In [ ]:
### Addition
S = a+b
S

-637

In [ ]:
### Subtraction
S = c-a
S

4678

In [ ]:
### Multiplication
S = b*c
S

-3515872

In [ ]:
### Division
S = a/d
S

-114.45086705202313

In [ ]:
### Floor Division
Fq = a//d
Fq

-115.0

In [ ]:
### Exponentiation
E = a**b
E

0.0

In [ ]:
### Modulo
mod = d%a
mod

98.135

## Assignment Operations
Assignment operators are used in Python to assign values to variables. Also, a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left. There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5. Python has 8 assignment operators, which are:  Assign, Add and assign, Subtract and assign, Multiply and assign, Divide and assign, Modulus and assign, Exponentiation and assign, and Floor-divide and assign.

In [ ]:
G, J, H, K = 0, 100, 2, 2

In [ ]:
G += a
G

99

In [ ]:
H += d
H

1.135

In [ ]:
J *= 2
J

In [ ]:
K **= 2
K

4

## Comparators
Comparison operators are used to compare values. It returns either True or False according to the condition.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

True

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2*2
t4

True

## Logical
Logical operators can be categorized into three: The Logical and, Logical or, and Logical not.

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
x, y = True, False
conj = x and y
conj

False

In [ ]:
x, y = True, False
disj = x or y
disj

True

In [ ]:
x, y = True, False
nand = not (x and y)
nand

True

In [ ]:
x, y = True, False
xor = (not x and y) or (x and not y)
xor

True

### I/O
Python provides numerous built-in functions that are readily available to us at the Python prompt. Some of the functions like input() and print() are widely used for standard input and output operations respectively. Input is any information or data sent to the computer from the user through the keyboard, while Output is information produced by the computer to the user. Python provides us with the two inbuilt functions as input() and output().

The syntax for input is input(prompt_message). The python will automatically identify whether the user entered a string, number, or list; if the input entered from the user is not correct, then python will throw a syntax error. And the syntax for the output in python is print(), normally used to print the output.

In [ ]:
print("Hello Love")

Hello Love

In [ ]:
cnt = 1

In [ ]:
string = "Hello Love"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello Love , Current run count is: 1

In [ ]:
print (f"{string}, Current count is: {cnt}")

Hello Love, Current count is: 2

In [ ]:
sem_grade = 99.00
name = "Love"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Love, your semestral grade is: 99.0

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 90

'90'

In [ ]:
name = input("kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

kimi no nawa: andrhea
Enter prelim grade: 88
Enter midterm grade: 90
Enter final grade: 100
Hello andrhea, your semestral grade is: None

### Looping Statements
A loop statement in Python allows us to execute a statement or group of statements multiple times. There are two types of loops available in Python, those are: while loop, for loop.

### While
While looping statement executes a block of statements repeatedly as long as the condition is TRUE. It tests the condition before executing the loop body.

In [ ]:
## while loops
i, j = 9, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i+=1

9	|	10
10	|	10

### For
For looping statement is an iterator-based loop, which steps through the items of iterable objects like lists, tuples, strings and executes a piece of code repeatedly for a number of times, based on the number of items in that iterable object. For execute a sequence of statements multiple times and abbreviate the code that manages the loop variable.

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }
i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Yummy", "Blank Space", "All too Well"]
print('Now playing:\n')
for song in playlist:
  print(song)

Now playing:

Yummy
Blank Space
All too Well

### Condition Statements
Conditional Statement in Python perform different computations or actions depending on whether a specific Boolean constraint evaluates to true or false. Conditional statements are handled by IF statements in Python. Python has six conditional statements, which are: If the statement, If else statement, Nested if statement, Ifâ€¦Elif ladder, Short Hand if statement, Short Hand if-else statement

In [ ]:
numeral1, numeral2 = 9, 10
if(numeral1 == numeral2):
  print("Lmao")
elif(numeral1>numeral2):
  print("Lol")
else:
  print("Wtf")

Wtf

### Functions
Functions are an essential part of the Python programming language. In Python, a function is a group of related statements that performs a specific task. Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable. Furthermore, it avoids repetition and makes the code reusable.

In [ ]:
# void DeleteUser(int_userid){
#   delete(userid);
#}

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))
  
def delete_all_users ():
  print("Elite")

In [ ]:
userid = "Andres"
delete_user("Andres")
delete_all_users()

Successfully deleted user: Andres
Elite

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

In [ ]:
#addend1, addend2 = 69, 69
#add(addend1, addend2)

exponent = 69
power_of_base2(exponent)

590295810358705651712

### TASK

In [ ]:
name = input("Name: ")
program = input("Program: ")
level = input("Level: ")
course = input("Course: ")
pre = input("Enter Prelim Grade: ")
mid = input("Enter Midterm Grade: ")
fin = input("Enter Final Grade: ")
pr = float(pre)
mi = float(mid)
fi = float(fin)
sem = pr*0.30 + mi*0.30 + fi*0.40
se = "{:.2f}".format(sem)
s = float(se)
ave = 70.00
if(s == ave):
  print("Good day, Miss Andrhea, your semestral grade is:",se, "\U0001F606")
elif(s>ave):
  print("Good day, Miss Andrhea, your semestral grade is:",se, "\U0001F970")
else:
  print("Good day, Miss Andrhea, your semestral grade is:",se, "\U0001F643")

Name: Andrhea Dennize D. Cuyme
Program: BS ChE
Level: 2nd
Course: Linear Algebra
Enter Prelim Grade: 90
Enter Midterm Grade: 90
Enter Final Grade: 90
Good day, Miss Andrhea, your semestral grade is: 90.00 ðŸ¥°